
* {
    box-sizing: border-box;
    text-align: center;
  }
body {
 background-color:#777;

}


header {
  padding: 40px;
  margin-bottom: 20px;
  background-color: #ebebeb;
}

nav {
 padding: 40px;
 margin-bottom: 20px;
 background-color: #ebebeb;
}

section {
  background-color: #ebebeb;
  width: 60%;
  float: left;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

article {
  background-color: #777;
  width: 50%;
  padding: 10px;
  float: middle;
  
}
aside {
  background-color: #ebebeb;
  width: 38%;
  float: right;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

footer {
  background: #ebebeb;
  padding: 40px;
  clear: both;
  
  

}